<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ topic }} Exam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center; margin-bottom: 20px;" >{{ topic }} Exam</h1>
    <form action="/exam/{{ topic }}" method="post" style="margin-left: 50px;">
        {% for question in questions %}
        <div class="form-group">
            <p>{{ question.question_text }}</p>
            <input type="text" name="answer{{ question.id }}" id="formGroupExampleInput" placeholder="Answer">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div style="position: absolute; top: 20px; right: 20px;">
        <p>En Yüksek Puan: 100%</p>
    </div>
    <footer style="margin-top: 500px ; text-align: center;">
        <p>Yazar: Yunus Emre Duran</p>
    </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
